@import url(./reset.css);

:root{
    --bgcolor_green: #BAFF39;
    --bgcolor_pink: #EF036C;
    --bgcolor: #6E6E6E ;
    --text-color: #ffff;
    --bgcolor_main: #352f39;
}

header{
    background-color: var(--bgcolor_pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        
        background-color: inherit;
        line-height: 8.5rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3em;
        padding-left: 2rem;
        text-shadow: 0 -1rem 0 #BAFF39;
        font-family: 'Anton';
    }

    nav ul{
        display: flex;
        align-items: center;
    }
    nav ul li *{
        display: block;
         color: var(--text-color);
         text-align: center;
         transition: all .6s ease-in-out;
    }
    nav ul li {
        font-weight: bolder;
        width: 15rem;
        line-height: 8.5rem;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-family: Anton;
    }
    
    
    nav ul li:hover a{
        text-shadow: 0 0 0.9rem #6E6E6E;

        filter: drop-shadow(0 0 0.9rem #fff);
        background-color: var(--bgcolor_green);
        color: var(--bgcolor_pink);
        
    }
    
}

main {
     


    max-width: 120rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: center repeat(3, 1fr);
    gap: 1rem;
    border: solid .1rem var(--bgcolor_green);
    padding: 1rem;
    box-shadow: 0 0 20px 4px #81cfc6;
    border-radius: .4rem;
    background: var(--bgcolor_main);

      
}

 section{
    h2 {
        color: var(--text-color);    
        text-align: center;          
        margin-bottom: 2rem;         
        font-weight: bolder;
        text-transform: uppercase;
        font-family: 'Anton';        
        display: flex;               
        justify-content: center;     
        align-items: center;         
        min-height: 6rem;            
        background-color: var(--bgcolor_pink); 
        }
        

    }

    footer *{
        text-align: center;
        
        
    }
    
        






